{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
<div id="header">

	{% for resourceID, resourceData in resourceTable %}
	{% if resourceID != 921 %}
	<div id="bar-1" class="bar-main-container">
	    <div class="wrap">
	      <div class="bar-percentage"><img src="{{ dpath }}images/{{ resourceData.name }}.gif" alt=""></div>
	      <div class="bar-container">
	        <div class="bar bar_{{ resourceID }}" style="width: 0%;"></div>
	        <div class="bar-text">
        {% if shortlyNumber %}
            {% if resourceData.current is not defined %}
            {% set currentResource = resourceData.max + resourceData.used %}
                <span class="res_current tooltip" data-tooltip-content="{{ LNG.tech[resourceID] }}<br>{{ currentResource|number_format }} / {{ resourceData.max|number_format }}"><span{% if currentResource < 0 %} style="color:red"{% endif %}>{{ currentResource|number_format }} / {{ resourceData.max|number_format }}</span></span>
                {% else %}
                    <span class="res_current tooltip" id="current_{{ resourceData.name }}" data-real="{{ resourceData.current }}" data-tooltip-content="{{ LNG.tech[resourceID] }}<br>{{ resourceData.current|number_format }}<br>{% if resourceData.current is not defined or resourceData.max is not defined %}
                    {% else %}
                    <span class='res_max' id='max_{{ resourceData.name }}' data-real='{{ resourceData.max }}'>{{ resourceData.max|number_format }}</span>
                    {% endif %}">{{ resourceData.current|number_format }}</span>
                {% endif %}
        {% else %}
			{% if resourceData.current is not defined %}
			{% set currentResource = resourceData.max + resourceData.used %}
				<span class="res_current tooltip" data-tooltip-content="{{ LNG.tech[resourceID] }}<br>{{ currentResource|number_format }} / {{ resourceData.max|number_format }}"><span{% if currentResource < 0 %} style="color:red"{% endif %}>{{ currentResource|number_format }} / {{ resourceData.max|number_format }}</span></span>
				{% else %}
					<span class="res_current tooltip" id="current_{{ resourceData.name }}" data-tooltip-content="{{ LNG.tech[resourceID] }}<br>{{ resourceData.current|number_format }}<br>{% if resourceData.current is not defined or resourceData.max is not defined %}
					{% else %}
                    <span class='res_max' id='max_{{ resourceData.name }}' data-real='{{ resourceData.max }}'>{{ resourceData.max|number_format }}</span>
					{% endif %}" id="current_{{ resourceData.name }}" data-real="{{ resourceData.current }}">{{ resourceData.current|number_format }} (X%)</span>
				{% endif %}
	        {% endif %}
	        </div>
	      </div>
	      {% if resourceID != 911 and resourceID != 921 %}
	      {% if isModuleAvailable(constant('MODULE_TRADER')) %}
	      <div class="bar-change">
	      	<a href="game.php?page=trader&mode=trade&resource={{ resourceID }}"><i class="fas fa-arrows-alt-h"></i></a>
	      </div>
	      {% endif %}
	      {% endif %}
	    </div>
	</div>
	{% else %}
	<div class="heder_res_921 res_921_text">
		<img src="{{ dpath }}images/{{ resourceData.name }}.gif" alt="">
		<span class="res_current tooltip" id="current_{{ resourceData.name }}" data-real="{{ resourceData.current }}" data-tooltip-content="{{ LNG.tech[resourceID] }}<br>{{ resourceData.current|number_format }}<br>{% if resourceData.current is not defined or resourceData.max is not defined %}
		{% else %}
        <span class='res_max' id='max_{{ resourceData.name }}' data-real='{{ resourceData.max }}'>{{ resourceData.max|number_format }}</span>
        {% endif %}">{{ resourceData.current|number_format }}</span>
	</div>
	{% endif %}
	{% endfor %}
	<div class="clear"></div>

		{% if not vmode %}
		<script type="text/javascript">
		var viewShortlyNumber	= {{ shortlyNumber|json_encode }};
		var vacation			= {{ vmode }};
        $(function() {
		{% for resourceID, resourceData in resourceTable %}
		{% if resourceData.production is defined %}
            resourceTicker({
                available: {{ resourceData.current|json_encode }},
                limit: [0, {{ resourceData.max|json_encode }}],
                production: {{ resourceData.production|json_encode }},
                valueElem: "current_{{ resourceData.name }}",
                valuePoursent: "bar_{{ resourceID }}"
            }, true);
		{% endif %}
		{% endfor %}
        });
		</script>
        <script src="scripts/game/topnav.js"></script>
        {% if hasGate %}<script src="scripts/game/gate.js"></script>{% endif %}
		{% endif %}
</div>
	{% if closed %}
	<div class="infobox">{{ LNG.ov_closed }}</div>
	{% elseif delete %}
	<div class="infobox">{{ delete }}</div>
	{% elseif vacation %}
	<div class="infobox">{{ LNG.tn_vacation_mode }} {{ vacation }}</div>
	{% endif %}