{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% extends "layout.full.twig" %}

{% block title %}{{ LNG.lm_fleet }}{% endblock %}
{% block content %}

<div class="aerospace-container">
    
    <div class="content-box success-panel text-center">
        <div class="success-icon"><i class="fas fa-check-circle"></i></div>
        <h2 class="page-title">{{ LNG.fl_fleet_sended }}</h2>
    </div>

    <div class="content-box report-panel">
        <div class="panel-header"><i class="fas fa-file-contract"></i> {{ LNG.fl_mission }} {{ LNG["type_mission_" ~ targetMission] }}</div>
        
        <div class="report-grid">
            
            <div class="route-box">
                <div class="route-point">
                    <span class="route-label">{{ LNG.fl_from }}</span>
                    <span class="route-coord">{{ from }}</span>
                </div>
                <div class="route-arrow">
                    <i class="fas fa-long-arrow-alt-right"></i>
                    <span class="route-dist">{{ distance|number_format }}</span>
                </div>
                <div class="route-point">
                    <span class="route-label">{{ LNG.fl_destiny }}</span>
                    <span class="route-coord">{{ destination }}</span>
                </div>
            </div>

            <div class="data-grid">
                <div class="data-item">
                    <span class="label">{{ LNG.fl_fleet_speed }}</span>
                    <span class="value">{{ MaxFleetSpeed|number_format }}</span>
                </div>
                <div class="data-item">
                    <span class="label">{{ LNG.fl_fuel_consumption }}</span>
                    <span class="value text-warning">{{ consumption|number_format }}</span>
                </div>
                <div class="data-item">
                    <span class="label">{{ LNG.fl_arrival_time }}</span>
                    <span class="value text-highlight">{{ fleetStartTime }}</span>
                </div>
                <div class="data-item">
                    <span class="label">{{ LNG.fl_return_time }}</span>
                    <span class="value text-muted">{{ fleetEndTime }}</span>
                </div>
            </div>

            <div class="fleet-manifest">
                <h4 class="manifest-title">{{ LNG.fl_fleet }}</h4>
                <div class="manifest-list">
                    {% for ShipID, ShipCount in FleetList %}
                    <div class="manifest-item">
                        <span class="ship-name">{{ LNG.tech[ShipID] }}</span>
                        <span class="ship-count">{{ ShipCount|number_format }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="action-bar-bottom">
            <a href="game.php?page=fleetTable" class="btn-action-glow">{{ LNG.lm_fleet }}</a>
        </div>
    </div>

</div>
{% endblock %}
