{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% extends "layout.full.twig" %}

{% block title %}{{ LNG.lm_faq }}{% endblock %}
{% block content %}

<div class="content_page">
    <div class="aerospace-wrapper">
        
        <div class="content-box header-panel">
            <h2 class="page-title"><i class="far fa-question-circle"></i> {{ LNG.faq_overview }}</h2>
        </div>

        <div class="faq-grid">
            {% for categoryID, categoryRow in LNG.questions %}
            <div class="faq-card">
                <div class="faq-header">
                    <i class="fas fa-folder-open"></i> {{ categoryRow.category }}
                </div>
                <div class="faq-list custom-scroll">
                    <ul>
                    {% for questionID, questionRow in categoryRow %}
                    {% if questionID matches '/^\\d+$/' %}
                        <li>
                            <a href="game.php?page=questions&amp;mode=single&amp;categoryID={{ categoryID }}&amp;questionID={{ questionID }}">
                                <i class="fas fa-angle-right"></i> {{ questionRow.title }}
                            </a>
                        </li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
