{% extends "layout.full.twig" %}

{% block title %}{{ LNG.lm_alliance }}{% endblock %}
{% block content %}

<div class="aerospace-container">
    
    <div class="content-box center-panel">
        <div class="panel-header"><i class="fas fa-search"></i> {{ LNG.al_find_alliances }}</div>
        
        <form action="game.php?page=alliance&amp;mode=search" method="post" class="search-form">
            <div class="search-wrapper">
                <input type="text" name="searchtext" value="{{ searchText }}" class="glass-input search-input" placeholder="{{ LNG.al_find_text }}">
                <button type="submit" class="btn-action-glow search-btn"><i class="fas fa-search"></i> {{ LNG.al_find_submit }}</button>
            </div>
        </form>
    </div>

    {% if searchList %}
    <div class="content-box table-panel mt-3">
        <table class="glass-table full-width">
            <thead>
                <tr>
                    <th>{{ LNG.al_ally_info_tag }}</th>
                    <th>{{ LNG.al_ally_info_name }}</th>
                    <th>{{ LNG.al_ally_info_members }}</th>
                    <th>{{ LNG.al_actions }}</th>
                </tr>
            </thead>
            <tbody>
                {% for seachRow in searchList %}
                <tr>
                    <td><span class="text-highlight">[{{ seachRow.tag }}]</span></td>
                    <td>{{ seachRow.name }}</td>
                    <td>{{ seachRow.members }}</td>
                    <td>
                         <a href="game.php?page=alliance&amp;mode=apply&amp;id={{ seachRow.id }}" class="btn-ghost small">
                            {{ LNG.al_apply }} <i class="fas fa-arrow-right"></i>
                         </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

</div>
{% endblock %}
