{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% extends "layout.full.twig" %}

{% block title %}{{ LNG.lm_logout }}{% endblock %}
{% block content %}<table class="table519">
	<tr>
		<th>{{ LNG.lo_title }}</th>
		</tr>
	<tr>
		<td>{{ LNG.lo_logout }}</td>
	</tr>
</table>
<br><br>
<table class="table519">
<tr>
	<th>{{ LNG.lo_redirect }}</th>
</tr>
<tr>
	<td>{{ LNG.lo_notify }}<br><a href="./index.php">{{ LNG.lo_continue }}</a></td>
</tr>
</table>
{% endblock %}
{% block script %}
<script type="text/javascript">
    var second = 5;
	function Countdown(){
		if(second == 0)
			return;
			
		second--;
		$('#seconds').text(second);
	}
	window.setTimeout("window.location.href='./index.php'", 5000);
	window.setInterval("Countdown()", 1000);
</script>
{% endblock %}