{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% extends "layout.full.twig" %}

{% block title %}{{ LNG.lm_alliance }}{% endblock %}
{% block content %}

<div class="aerospace-container">
    <div class="content-box center-panel">
        <div class="panel-header">
            <i class="fas fa-users"></i> {{ LNG.al_make_alliance }}
        </div>

        <form action="game.php?page=alliance&amp;mode=create&amp;action=send" method="POST">
            <div class="form-group">
                <label>{{ LNG.al_make_ally_tag_required }}</label>
                <div class="input-with-icon">
                    <i class="fas fa-tag"></i>
                    <input type="text" name="atag" size="8" maxlength="8" class="glass-input" placeholder="TAG">
                </div>
                <small class="form-text text-muted">Max. 8 Zeichen</small>
            </div>

            <div class="form-group">
                <label>{{ LNG.al_make_ally_name_required }}</label>
                <div class="input-with-icon">
                    <i class="fas fa-signature"></i>
                    <input type="text" name="aname" size="20" maxlength="30" class="glass-input" placeholder="Allianz Name">
                </div>
                <small class="form-text text-muted">Max. 30 Zeichen</small>
            </div>

            <div class="action-bar-bottom">
                <a href="game.php?page=alliance" class="btn-ghost">{{ LNG.al_back }}</a>
                <button type="submit" class="btn-action-glow">{{ LNG.al_make_submit }}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
