{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% extends "layout.full.twig" %}

{% block title %}{{ LNG.lm_alliance }}{% endblock %}
{% block content %}

<div class="aerospace-container">
    <div class="content-box header-panel">
        <h2 class="page-title"><i class="fas fa-handshake"></i> {{ LNG.al_manage_diplo }}</h2>
        <a href="#" onclick="return Dialog.open('game.php?page=alliance&mode=admin&action=diplomacyCreate&ajax=1', 600, 400);" class="btn-action-glow small">
            <i class="fas fa-plus"></i> {{ LNG.al_circular_send_ciruclar }}
        </a>
    </div>

    <div class="diplomacy-grid">
        
        <div class="content-box">
            <div class="panel-header"><i class="fas fa-link"></i> {{ LNG.al_diplo_info }}</div>
            {% for diploMode, diploAlliances in diploList.0 %}
                <div class="diplo-group">
                    <h4 class="diplo-type-title">{{ LNG.al_diplo_level[diploMode] }}</h4>
                    {% if diploAlliances %}
                        <div class="diplo-list">
                        {% for diploID, diploName in diploAlliances %}
                            <div class="diplo-tag">
                                <span>{{ diploName }}</span>
                                <a href="game.php?page=alliance&amp;mode=admin&amp;action=diplomacyDelete&amp;id={{ diploID }}" onclick="return confirm('{{ LNG.al_diplo_confirm_delete }}');" class="delete-x"><i class="fas fa-times"></i></a>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        <span class="text-muted small">- {{ LNG.al_diplo_no_entry }} -</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="content-box">
            <div class="panel-header"><i class="fas fa-paper-plane"></i> {{ LNG.al_diplo_accept_send }}</div>
            {% if diploList.1|length > 0 %}
                {% for diploMode, diploAlliances in diploList.1 %}
                   {% if diploAlliances %}
                       <div class="diplo-group">
                           <h4 class="diplo-type-title">{{ LNG.al_diplo_level[diploMode] }}</h4>
                           <div class="diplo-list">
                           {% for diploID, diploName in diploAlliances %}
                               <div class="diplo-tag pending">
                                   <span>{{ diploName }}</span>
                                   <a href="game.php?page=alliance&amp;mode=admin&amp;action=diplomacyDelete&amp;id={{ diploID }}" class="delete-x"><i class="fas fa-times"></i></a>
                               </div>
                           {% endfor %}
                           </div>
                       </div>
                   {% endif %}
                {% endfor %}
            {% else %}
                <div class="empty-state">{{ LNG.al_diplo_no_accept }}</div>
            {% endif %}
        </div>

        <div class="content-box">
            <div class="panel-header"><i class="fas fa-inbox"></i> {{ LNG.al_diplo_accept }}</div>
            {% if diploList.2|length > 0 %}
                {% for diploMode, diploAlliances in diploList.2 %}
                    {% if diploAlliances %}
                        <div class="diplo-group">
                           <h4 class="diplo-type-title">{{ LNG.al_diplo_level[diploMode] }}</h4>
                           <div class="diplo-list-requests">
                           {% for diploID, diploName in diploAlliances %}
                               <div class="diplo-request-card">
                                   <span class="req-name">{{ diploName }}</span>
                                   <div class="req-actions">
                                       <a href="game.php?page=alliance&amp;mode=admin&amp;action=diplomacyAccept&amp;id={{ diploID }}" class="btn-icon-success"><i class="fas fa-check"></i></a>
                                       <a href="game.php?page=alliance&amp;mode=admin&amp;action=diplomacyDelete&amp;id={{ diploID }}" class="btn-icon-danger"><i class="fas fa-times"></i></a>
                                   </div>
                               </div>
                           {% endfor %}
                           </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                 <div class="empty-state">{{ LNG.al_diplo_no_accept }}</div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}
