{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% extends "layout.ajax.twig" %}
{% block content %}
<form action="game.php?page=messages" method="post" id="msg-form">
    <input type="hidden" name="mode" value="action">
    <input type="hidden" name="messcat" value="{{ MessID }}">

    <div class="msg-feed-galactic">
        {% for Message in MessageList %}
        <div class="galactic-msg-card {% if Message.unread %}is-unread{% endif %}">
            <details>
                <summary class="msg-head" onclick="event.stopPropagation();">
                    {% if MessID != 999 %}
                    <input type="checkbox" name="messageID[{{ Message.id }}]" value="{{ Message.id }}">
                    {% endif %}
                    <div class="msg-meta-wrap">
                        <div class="msg-info-top">
                            <span>👤 {{ Message.from|striptags|e }}</span>
                            <span>📅 {{ Message.time }}</span>
                        </div>
                        <div class="msg-subject-line">{{ Message.subject|striptags|e }}</div>
                    </div>
                </summary>
                
                <div class="msg-content-panel">
                    {# WICHTIG: text|raw sorgt dafür, dass HTML gerendert wird! #}
                    {{ Message.text|raw }}
                </div>
                
                <div class="msg-card-footer">
                    {% if MessID != 999 and Message.sender != -1 %}
                    <button type="button" class="btn-msg-reply" onclick="Dialog.PM({{ Message.sender }}, 'RE: {{ Message.subject|striptags|e('js') }}');"><i class="fas fa-reply"></i> Antworten</button>
                    {% endif %}
                    <button type="button" class="btn-msg-delete" onclick="Message.deleteMessage({{ Message.id }}, {{ MessID }}, {{ page }});"><i class="fas fa-trash-alt"></i> Löschen</button>
                </div>
            </details>
        </div>
        {% else %}
        <div class="msg-empty">Keine Nachrichten vorhanden.</div>
        {% endfor %}
    </div>

    {% if maxPage > 1 %}
    <div class="msg-pagination">
        {% for site in range(1, maxPage) %}
        <a href="#" onclick="Message.getMessages({{ MessID }}, {{ site }}); return false;" class="g-page-link {% if site == page %}active{% endif %}">
            {{ site }}
        </a>
        {% endfor %}
    </div>
    {% endif %}
</form>
{% endblock %}