{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% extends "layout.ajax.twig" %}

{% block content %}
<div class="result-list">
    <div class="result-header-row">
        <div class="col name">{{ LNG.sh_name }}</div>
        <div class="col actions"></div>
        <div class="col ally">{{ LNG.sh_alliance }}</div>
        <div class="col planet">{{ LNG.sh_planet }}</div>
        <div class="col coords">{{ LNG.sh_coords }}</div>
        <div class="col rank">{{ LNG.sh_position }}</div>
    </div>

    {% for searchRow in searchList %}
    <div class="result-row">
        <div class="col name">
            <a href="#" onclick="return Dialog.Playercard({{ searchRow.userid }});" class="user-link">{{ searchRow.username }}</a>
        </div>
        <div class="col actions">
            <a href="#" onclick="return Dialog.PM({{ searchRow.userid }});" class="btn-icon" title="{{ LNG.sh_write_message }}">
                <i class="far fa-envelope"></i>
            </a>
            <a href="#" onclick="return Dialog.Buddy({{ searchRow.userid }});" class="btn-icon" title="{{ LNG.sh_buddy_request }}">
                <i class="far fa-handshake"></i>
            </a>
        </div>
        <div class="col ally">
            {% if searchRow.allyname %}
                <a href="game.php?page=alliance&amp;mode=info&amp;id={{ searchRow.allyid }}">{{ searchRow.allyname }}</a>
            {% else %}<span class="text-muted">-</span>{% endif %}
        </div>
        <div class="col planet">{{ searchRow.planetname }}</div>
        <div class="col coords">
            <a href="game.php?page=galaxy&amp;galaxy={{ searchRow.galaxy }}&amp;system={{ searchRow.system }}" class="coord-link">
                [{{ searchRow.galaxy }}:{{ searchRow.system }}:{{ searchRow.planet }}]
            </a>
        </div>
        <div class="col rank">#{{ searchRow.rank }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}
