{% extends "layout.full.twig" %}

{% block title %}{{ LNG.lm_statistics }}{% endblock %}
{% block content %}

<div class="content_page">
    <div class="aerospace-wrapper">
        
        <div class="content-box header-panel">
            <h2 class="page-title"><i class="fas fa-chart-line"></i> {{ LNG.st_statistics }}</h2>
            <div class="update-info">{{ LNG.st_updated }}: {{ stat_date }}</div>
        </div>

        <div class="content-box filter-panel">
            <form name="stats" id="stats" method="post" action="">
                <div class="filter-group">
                    <label>{{ LNG.st_show }}</label>
                    <select name="who" class="glass-select" onchange="$('#stats').submit();">
                        {% for key, val in Selectors.who %}
                            <option value="{{ key }}" {% if key == who %}selected{% endif %}>{{ val }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-group">
                    <label>{{ LNG.st_per }}</label>
                    <select name="type" class="glass-select" onchange="$('#stats').submit();">
                        {% for key, val in Selectors.type %}
                            <option value="{{ key }}" {% if key == type %}selected{% endif %}>{{ val }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-group">
                    <label>{{ LNG.st_in_the_positions }}</label>
                    <select name="range" class="glass-select" onchange="$('#stats').submit();">
                        {% for key, val in Selectors.range %}
                            <option value="{{ key }}" {% if key == range %}selected{% endif %}>{{ val }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>

        <div class="content-box list-container">
            <table class="stat-table">
                <thead>
                    <tr>
                        {% if who == 1 %}
                            <th class="col-rank">#</th>
                            <th class="col-name">{{ LNG.st_player }}</th>
                            <th class="col-msg"></th>
                            <th class="col-ally">{{ LNG.st_alliance }}</th>
                            <th class="col-points">{{ LNG.st_points }}</th>
                        {% elseif who == 2 %}
                            <th class="col-rank">#</th>
                            <th class="col-name">{{ LNG.st_alliance }}</th>
                            <th class="col-members">{{ LNG.st_members }}</th>
                            <th class="col-points">{{ LNG.st_points }}</th>
                            <th class="col-avg">{{ LNG.st_per_member }}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if who == 1 %}
                        {% include "shared.statistics.playerTable.twig" %}
                    {% elseif who == 2 %}
                        {% include "shared.statistics.allianceTable.twig" %}
                    {% endif %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% autoescape false %}
<script type="text/javascript">
$(document).ready(function() {
    // Popup Links reparieren
    $('.stat-table a').each(function() {
        if($(this).attr('onclick')) return;
        var href = $(this).attr('href');
        if(href && href.includes('page=playerCard')) {
            var id = href.match(/id=(\d+)/)[1];
            $(this).attr('onclick', 'return Dialog.Playercard('+id+');').attr('href', '#');
        }
    });
});
</script>
{% endautoescape %}
{% endblock %}
