{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
<div class="ship-info-card">
    <div class="info-grid">
        <div class="info-row">
            <span class="label">{{ LNG.in_struct_pt }}</span>
            <span class="val">{{ FleetInfo.structure|number_format }}</span>
        </div>
        <div class="info-row">
            <span class="label">{{ LNG.in_attack_pt }}</span>
            <span class="val red">{{ FleetInfo.attack|number_format }}</span>
        </div>
        <div class="info-row">
            <span class="label">{{ LNG.in_shield_pt }}</span>
            <span class="val blue">{{ FleetInfo.shield|number_format }}</span>
        </div>
        {% if FleetInfo.capacity %}
        <div class="info-row">
            <span class="label">{{ LNG.in_capacity }}</span>
            <span class="val">{{ FleetInfo.capacity|number_format }}</span>
        </div>
        {% endif %}
        {% if FleetInfo.speed1 %}
        <div class="info-row">
            <span class="label">{{ LNG.in_base_speed }}</span>
            <span class="val">{{ FleetInfo.speed1|number_format }} {% if FleetInfo.speed1 != FleetInfo.speed2 %}<span class="bonus">({{ FleetInfo.speed2|number_format }})</span>{% endif %}</span>
        </div>
        {% endif %}
    </div>
</div>
