{% for RangeInfo in RangeList %}
<tr class="{% if RangeInfo.id == CUser_id %}my-rank{% endif %}">
    <td>
        {{ RangeInfo.rank }}
        {% if RangeInfo.ranking < 0 %}
            <span class="rank-arrow-down">▼{{ RangeInfo.ranking|abs }}</span>
        {% elseif RangeInfo.ranking > 0 %}
            <span class="rank-arrow-up">▲{{ RangeInfo.ranking }}</span>
        {% endif %}
    </td>
    <td>
        <a href="#" onclick="return Dialog.Playercard({{ RangeInfo.id }}, '{{ RangeInfo.name|e('js') }}');">
            {{ RangeInfo.name }}
        </a>
    </td>
    <td style="text-align: center;">
        {% if RangeInfo.id != CUser_id %}
            <a href="#" onclick="return Dialog.PM({{ RangeInfo.id }});" title="{{ LNG.st_write_message }}">
                <i class="far fa-envelope"></i>
            </a>
        {% endif %}
    </td>
    <td>
        {% if RangeInfo.allyid != 0 %}
            <a href="game.php?page=alliance&amp;mode=info&amp;id={{ RangeInfo.allyid }}">
                {% if RangeInfo.allyid == CUser_ally %}
                    <span class="text-cyan">{{ RangeInfo.allyname }}</span>
                {% else %}
                    {{ RangeInfo.allyname }}
                {% endif %}
            </a>
        {% else %}
            <span class="text-dim">-</span>
        {% endif %}
    </td>
    <td>{{ RangeInfo.points }}</td>
</tr>
{% endfor %}