{% for RangeInfo in RangeList %}
<tr class="{% if RangeInfo.id == CUser_ally %}my-rank{% endif %}">
    <td>
        {{ RangeInfo.rank }}
        {% if RangeInfo.ranking < 0 %}
            <span class="rank-arrow-down">▼{{ RangeInfo.ranking|abs }}</span>
        {% elseif RangeInfo.ranking > 0 %}
            <span class="rank-arrow-up">▲{{ RangeInfo.ranking }}</span>
        {% endif %}
    </td>
    <td>
        <a href="game.php?page=alliance&amp;mode=info&amp;id={{ RangeInfo.id }}" target="ally">
            {{ RangeInfo.name }}
        </a>
        {% if RangeInfo.allytag %}
            <span class="ally-tag">[{{ RangeInfo.allytag }}]</span>
        {% endif %}
    </td>
    <td style="text-align: center;">{{ RangeInfo.members }}</td>
    <td>{{ RangeInfo.points }}</td>
    <td style="text-align: center;">{{ RangeInfo.mppoints }}</td>
</tr>
{% endfor %}