{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
<div class="aerospace-info-table">
    <div class="info-header">{{ LNG.in_storage }}</div>
    
    <div class="table-scroll-wrapper custom-scroll">
        <table class="glass-table">
            <thead>
                <tr>
                    <th>{{ LNG.in_level }}</th>
                    {% for resourceID in productionTable.usedResource %}
                    <th colspan="2">{{ LNG.tech[resourceID] }}</th>
                    {% endfor %}
                </tr>
                <tr class="sub-header">
                    <th></th>
                    {% for resourceID in productionTable.usedResource %}
                    <th>{{ LNG.in_storage }}</th>
                    <th>Diff</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for elementLevel, productionData in productionTable.storage %}
                <tr {% if CurrentLevel == elementLevel %}class="current-level"{% endif %}>
                    <td class="lvl">{{ elementLevel }}</td>
                    {% for resourceID, storage in productionData %}
                    {% set storageDiff = storage - productionTable.storage[CurrentLevel][resourceID] %}
                    
                    <td class="val">{{ storage|number_format }}</td>
                    <td class="diff {% if storageDiff > 0 %}pos{% elseif storageDiff < 0 %}neg{% endif %}">
                        {{ storageDiff|number_format }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
