<nav class="auth-navbar" role="navigation">
	<div class="auth-navbar-container">
		<div class="auth-navbar-brand">
			<a href="#" class="auth-brand-link">{{ gameName }}</a>
		</div>

		<div class="auth-navbar-toggle">
			<button type="button" class="auth-menu-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="auth-toggle-line"></span>
				<span class="auth-toggle-line"></span>
				<span class="auth-toggle-line"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="auth-nav-links">
				<li><a href="index.php" class="auth-nav-link">{{ LNG.menu_index }}</a></li>
				<li><a href="index.php?page=board" target="board" class="auth-nav-link">{{ LNG.forum }}</a></li>
				<li><a href="index.php?page=news" class="auth-nav-link">{{ LNG.menu_news }}</a></li>
				<li><a href="index.php?page=rules" class="auth-nav-link">{{ LNG.menu_rules }}</a></li>
				<li><a href="index.php?page=battleHall" class="auth-nav-link">{{ LNG.menu_battlehall }}</a></li>
				<li><a href="index.php?page=banList" class="auth-nav-link">{{ LNG.menu_banlist }}</a></li>
				<li><a href="index.php?page=disclamer" class="auth-nav-link">{{ LNG.menu_disclamer }}</a></li>
			</ul>
			<div class="auth-nav-actions">
				<a class="auth-btn primary" href="index.php?page=register">Sign up</a>
				<div class="auth-language-selector">
					<button class="auth-btn auth-lang-btn">{{ LNG.language_select|default('Language') }}</button>
					<button class="auth-btn auth-lang-dropdown" data-toggle="dropdown">
						<span class="auth-dropdown-arrow"></span>
					</button>
                    {% if languages|length > 1 %}
						<ul class="auth-dropdown-menu" id="language">
                            {% for langKey, langName in languages %}
								<li><a href="?lang={{ langKey }}" rel="alternate" hreflang="{{ langKey }}" title="{{ langName }}"><span class="flags {{ langKey }}">{{ langName }}</span></a></li>
                            {% endfor %}
						</ul>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
</nav>
