<footer class="auth-footer">
	<div class="auth-footer-container">
		<div class="auth-footer-content">
			<div class="auth-footer-links">
				<a href="#" class="auth-footer-link">Back to top</a>
			</div>
			<div class="auth-footer-info">
				<p>© 2018 {{ gameName }}, Inc. · <a href="http://2moons.de" class="auth-footer-link">by 2moons.de</a> · <a href="https://github.com/HikeGame/2moons-2.0" class="auth-footer-link">github</a></p>
			</div>
		</div>
	</div>
</footer>
<div id="dialog" style="display:none;"></div>
<script>
var LoginConfig = {
    'isMultiUniverse': {{ isMultiUniverse|json_encode|raw }},
	'unisWildcast': {{ unisWildcast|json_encode|raw }},
	'referralEnable' : {{ referralEnable|json_encode|raw }},
	'basePath' : {{ basepath|json_encode|raw }}
};
</script>
{% if analyticsEnable %}
<script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("{{ analyticsUID }}");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endif %}
</body>
</html>