{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="{{ lang }}" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="{{ lang }}" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="{{ lang }}" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="{{ lang }}" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{{ lang }}" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&family=Space+Grotesk:wght@300;400;500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles/resource/css/login/styles.css">
	<link rel="stylesheet" type="text/css" href="styles/resource/css/login/auth.css">
	<link rel="stylesheet" href="styles/resource/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="styles/resource/css/base/jquery.fancybox.css">
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<title>{% block title %} - {{ gameName }}{% endblock %}</title>
	<meta name="generator" content="2MoonsCE {{ VERSION }}">
	<!-- 
		This website is powered by 2MoonsCE {{ VERSION }}
		2MoonsCE is a community edition fork of 2Moons, a free Space Browsergame initially created by Jan-Otto Kröpke and licensed under MIT.
		Original 2Moons is copyright 2009-2017 of Jan-Otto Kröpke. 2MoonsCE by 0wum0.
		Information and contribution at https://github.com/0wum0/2MoonsCE/
	-->
	<meta name="keywords" content="Weltraum Browsergame, XNova, 2MoonsCE, Space, Private, Server, Speed">
	<meta name="description" content="2MoonsCE Browsergame powered by https://github.com/0wum0/2MoonsCE/"> <!-- Modern Sci-Fi Game :) -->
	<!--[if lt IE 9]>
	<script src="scripts/base/html5.js"></script>
	<![endif]-->
	<script src="scripts/base/jquery.js"></script>
	<script src="scripts/base/jquery.cookie.js"></script>
	<script src="scripts/base/jquery.fancybox.js?v={{ REV }}"></script>
	<script src="scripts/login/main.js"></script>
	<script>
		window.LoginUI = window.LoginUI || {};
		{% if code is defined %}
		window.LoginUI.errorMessage = {{ code|json_encode|raw }};
		{% else %}
		window.LoginUI.errorMessage = null;
		{% endif %}
	</script>
	{% block script %}{% endblock %}	
</head>
<body id="{{ GET.page|default("overview")|e }}" class="{{ bodyclass }} auth-body">