{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% extends "layout.light.twig" %}

{% block title %}{{ LNG.siteTitleLostPassword }}{% endblock %}
{% block content %}
<div class="lp-card lp-card--register">
	<div class="lp-card__header">
		<h2 class="lp-card__title">{{ LNG.siteTitleLostPassword }}</h2>
	</div>
	<div class="lp-card__body">
		<div class="lp-intro">
			<p>{{ LNG.passwordInfo }}</p>
		</div>
		
		<form action="index.php?page=lostPassword" method="post" data-action="index.php?page=lostPassword" class="lp-form">
			<input type="hidden" value="send" name="mode">
			
			<div class="lp-field">
				<label for="universe" class="lp-label">{{ LNG.universe }}</label>
				<div class="lp-input-wrapper">
					<select name="uni" id="universe" class="lp-select changeAction">{% for key, value in universeSelect %}<option value="{{ key }}"{% if key == UNI %} selected{% endif %}>{{ value }}</option>{% endfor %}</select>
				</div>
			</div>
			
			<div class="lp-field">
				<label for="username" class="lp-label">{{ LNG.passwordUsername }}</label>
				<div class="lp-input-wrapper">
					<input type="text" class="lp-input" name="username" id="username" placeholder="{{ LNG.passwordUsername }}">
				</div>
			</div>
			
			<div class="lp-field">
				<label for="mail" class="lp-label">{{ LNG.passwordMail }}</label>
				<div class="lp-input-wrapper">
					<input type="email" class="lp-input" name="mail" id="mail" placeholder="{{ LNG.passwordMail }}">
				</div>
			</div>
			
			{% if recaptchaEnable %}
			<div class="lp-field lp-captcha">
				<label class="lp-label">{{ LNG.registerCaptcha }}</label>
				<div class="lp-captcha-wrapper">
					<div class="g-recaptcha" data-sitekey="{{ recaptchaPublicKey }}"></div>
				</div>
			</div>
			{% endif %}
			
			<div class="lp-form__footer">
				<button type="submit" class="lp-btn lp-btn--primary lp-btn--lg lp-btn--full">{{ LNG.passwordSubmit }}</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block script %}
{% if recaptchaEnable %}
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl={{ lang }}"></script>
{% endif %}
{% endblock %}