{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% extends "layout.light.twig" %}

{% block title %}{{ LNG.siteTitleDisclamer }}{% endblock %}
{% block content %}
<div class="lp-card">
	<div class="lp-card__header">
		<h2 class="lp-card__title">{{ LNG.siteTitleDisclamer }}</h2>
	</div>
	<div class="lp-card__body">
		<div class="lp-intro">
			<p class="lp-intro__lead">Information</p>
			<p class="lp-intro__text">The contact page will change the following with a contact form so that your player can send you mail in case of problem connecting your game.</p>
		</div>

		<div class="lp-contact-grid">
			<div class="lp-contact-row">
				<div class="lp-contact-item">
					<h3 class="lp-contact-item__title">{{ LNG.disclamerLabelAddress }}</h3>
					<p class="lp-contact-item__content">{{ disclamerAddress }}</p>
				</div>
				<div class="lp-contact-item">
					<h3 class="lp-contact-item__title">{{ LNG.disclamerLabelPhone }}</h3>
					<p class="lp-contact-item__content">{{ disclamerPhone }}</p>
				</div>
			</div>
			
			<div class="lp-contact-row">
				<div class="lp-contact-item">
					<h3 class="lp-contact-item__title">{{ LNG.disclamerLabelMail }}</h3>
					<p class="lp-contact-item__content">
						<a href="{{ disclamerMail }}" class="lp-contact-item__link">{{ disclamerMail }}</a>
					</p>
				</div>
				<div class="lp-contact-item">
					<h3 class="lp-contact-item__title">{{ LNG.disclamerLabelNotice }}</h3>
					<p class="lp-contact-item__content">{{ disclamerNotice }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}