{% extends "layout.light.twig" %}

{% block title %}{{ LNG.siteTitleDisclamer }}{% endblock %}
{% block content %}
<div class="lp-card">
	<div class="lp-card__header">
		<h2 class="lp-card__title">{{ LNG.siteTitleDisclamer }}</h2>
	</div>
	<div class="lp-card__body">
		<div class="lp-intro">
			<p class="lp-intro__lead">Information</p>
			<p class="lp-intro__text">The contact page will change the following with a contact form so that your player can send you mail in case of problem connecting your game.</p>
		</div>

		<div class="lp-contact-grid">
			<div class="lp-contact-row">
				<div class="lp-contact-item">
					<h3 class="lp-contact-item__title">{{ LNG.disclamerLabelAddress }}</h3>
					<p class="lp-contact-item__content">{{ disclamerAddress }}</p>
				</div>
				<div class="lp-contact-item">
					<h3 class="lp-contact-item__title">{{ LNG.disclamerLabelPhone }}</h3>
					<p class="lp-contact-item__content">{{ disclamerPhone }}</p>
				</div>
			</div>
			
			<div class="lp-contact-row">
				<div class="lp-contact-item">
					<h3 class="lp-contact-item__title">{{ LNG.disclamerLabelMail }}</h3>
					<p class="lp-contact-item__content">
						<a href="{{ disclamerMail }}" class="lp-contact-item__link">{{ disclamerMail }}</a>
					</p>
				</div>
				<div class="lp-contact-item">
					<h3 class="lp-contact-item__title">{{ LNG.disclamerLabelNotice }}</h3>
					<p class="lp-contact-item__content">{{ disclamerNotice }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}