{% extends "layout.light.twig" %}

{% block title %}{{ LNG.siteTitleLostPassword }}{% endblock %}
{% block content %}
<div class="lp-card">
	<div class="lp-card__header">
		<h2 class="lp-card__title">{{ LNG.siteTitleLostPassword }}</h2>
	</div>
	<div class="lp-card__body">
		<div class="lp-intro">
			<p>{{ LNG.passwordInfo }}</p>
		</div>
		
		<form action="index.php?page=lostPassword" method="post" data-action="index.php?page=lostPassword" class="lp-form">
			<input type="hidden" value="send" name="mode">
			
			<div class="lp-field">
				<label for="universe" class="lp-label">{{ LNG.universe }}</label>
				<div class="lp-input-wrapper">
					<select name="uni" id="universe" class="lp-select changeAction">{% for key, value in universeSelect %}<option value="{{ key }}"{% if key == UNI %} selected{% endif %}>{{ value }}</option>{% endfor %}</select>
				</div>
			</div>
			
			<div class="lp-field">
				<label for="username" class="lp-label">{{ LNG.passwordUsername }}</label>
				<div class="lp-input-wrapper">
					<input type="text" class="lp-input" name="username" id="username" placeholder="{{ LNG.passwordUsername }}">
				</div>
			</div>
			
			<div class="lp-field">
				<label for="mail" class="lp-label">{{ LNG.passwordMail }}</label>
				<div class="lp-input-wrapper">
					<input type="email" class="lp-input" name="mail" id="mail" placeholder="{{ LNG.passwordMail }}">
				</div>
			</div>
			
			{% if recaptchaEnable %}
			<div class="lp-field lp-captcha">
				<label class="lp-label">{{ LNG.registerCaptcha }}</label>
				<div class="lp-captcha-wrapper">
					<div class="g-recaptcha" data-sitekey="{{ recaptchaPublicKey }}"></div>
				</div>
			</div>
			{% endif %}
			
			<div class="lp-form__footer">
				<button type="submit" class="lp-btn lp-btn--primary lp-btn--lg">{{ LNG.passwordSubmit }}</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block script %}
{% if recaptchaEnable %}
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl={{ lang }}"></script>
{% endif %}
{% endblock %}