{% extends "layout.light.twig" %}

{% block title %}{{ LNG.siteTitleRegister }}{% endblock %}
{% block content %}
<div class="lp-card">
	<div class="lp-card__header">
		<h2 class="lp-card__title">{{ LNG.siteTitleRegister }}</h2>
	</div>
	<div class="lp-card__body">
		<form id="registerForm" method="post" action="index.php?page=register" data-action="index.php?page=register" class="lp-form">
			<input type="hidden" value="send" name="mode">
			<input type="hidden" value="{{ externalAuth.account }}" name="externalAuth[account]">
			<input type="hidden" value="{{ externalAuth.method }}" name="externalAuth[method]">
			<input type="hidden" value="{{ referralData.id }}" name="referralID">
			<input type="hidden" value="{{ mathCaptchaToken }}" name="math_captcha_token">
			<input type="hidden" value="{{ formLoadTime }}" name="form_load_time">
			<div class="lp-field">
				<label for="universe" class="lp-label">{{ LNG.chose_a_uni }}</label>
				<div class="lp-input-wrapper">
					<select name="uni" id="universe" class="lp-select changeAction">{% for key, value in universeSelect %}<option value="{{ key }}"{% if key == UNI %} selected{% endif %}>{{ value }}</option>{% endfor %}</select>
				</div>
				{% if error.uni %}<span class="lp-error">{{ LNG.registerUniError|default('Invalid universe') }}</span>{% endif %}
			</div>
			
			<div class="lp-field">
				<label for="username" class="lp-label">{{ LNG.registerUsername }}</label>
				<div class="lp-input-wrapper">
					<input type="text" class="lp-input" name="username" id="username" placeholder="{{ LNG.registerUsername }}">
				</div>
				{% if error.username %}<span class="lp-error">{{ LNG.registerUsernameError|default('Invalid username') }}</span>{% endif %}
				<span class="lp-desc">{{ LNG.registerUsernameDesc }}</span>
			</div>
			
			<div class="lp-field">
				<label for="password" class="lp-label">{{ LNG.registerPassword }}</label>
				<div class="lp-input-wrapper">
					<input type="password" class="lp-input" name="password" id="password" placeholder="{{ LNG.registerPassword }}">
				</div>
				{% if error.password %}<span class="lp-error">{{ LNG.registerPasswordError|default('Invalid password') }}</span>{% endif %}
				<span class="lp-desc">{{ LNG.registerPasswordDesc }}</span>
			</div>
			
			<div class="lp-field">
				<label for="passwordReplay" class="lp-label">{{ LNG.registerPasswordReplay }}</label>
				<div class="lp-input-wrapper">
					<input type="password" class="lp-input" name="passwordReplay" id="passwordReplay" placeholder="{{ LNG.registerPasswordReplay }}">
				</div>
				{% if error.passwordReplay %}<span class="lp-error">{{ LNG.registerPasswordReplayError|default('Passwords do not match') }}</span>{% endif %}
				<span class="lp-desc">{{ LNG.registerPasswordReplayDesc }}</span>
			</div>
			
			<div class="lp-field">
				<label for="email" class="lp-label">{{ LNG.registerEmail }}</label>
				<div class="lp-input-wrapper">
					<input type="email" class="lp-input" name="email" id="email" placeholder="{{ LNG.registerEmail }}">
				</div>
				{% if error.email %}<span class="lp-error">{{ LNG.registerEmailError|default('Invalid email') }}</span>{% endif %}
				<span class="lp-desc">{{ LNG.registerEmailDesc }}</span>
			</div>
			
			<div class="lp-field">
				<label for="emailReplay" class="lp-label">{{ LNG.registerEmailReplay }}</label>
				<div class="lp-input-wrapper">
					<input type="email" class="lp-input" name="emailReplay" id="emailReplay" placeholder="{{ LNG.registerEmailReplay }}">
				</div>
				{% if error.emailReplay %}<span class="lp-error">{{ LNG.registerEmailReplayError|default('Emails do not match') }}</span>{% endif %}
				<span class="lp-desc">{{ LNG.registerEmailReplayDesc }}</span>
			</div>
			
			{% if languages|length > 1 %}
			<div class="lp-field">
				<label for="language" class="lp-label">{{ LNG.registerLanguage }}</label>
				<div class="lp-input-wrapper">
					<select name="lang" id="language" class="lp-select">{% for key, value in languages %}<option value="{{ key }}"{% if key == lang %} selected{% endif %}>{{ value }}</option>{% endfor %}</select>
				</div>
				{% if error.language %}<span class="lp-error">{{ LNG.registerLanguageError|default('Invalid language') }}</span>{% endif %}
			</div>
			{% endif %}
			
			{% if referralData.name %}
			<div class="lp-field">
				<label class="lp-label">{{ LNG.registerReferral }}</label>
				<span class="lp-desc">{{ referralData.name }}</span>
			</div>
			{% endif %}
			
			<div class="lp-field">
				<label for="math_captcha_answer" class="lp-label">{{ LNG.registerCaptcha }}: {{ mathCaptchaQuestion }} = ?</label>
				<div class="lp-input-wrapper">
					<input type="number" class="lp-input lp-input--short" name="math_captcha_answer" id="math_captcha_answer" autocomplete="off" required>
				</div>
			</div>
			{% if recaptchaEnable %}
			<div class="lp-field lp-captcha">
				<label class="lp-label">{{ LNG.registerCaptcha }}</label>
				<div class="lp-captcha-wrapper">
					<div class="g-recaptcha" data-sitekey="{{ recaptchaPublicKey }}"></div>
				</div>
			</div>
			{% endif %}
			
			<div class="lp-field lp-checkbox">
				<label class="lp-checkbox-wrapper">
					<input type="checkbox" name="rules" id="rules" value="1" class="lp-checkbox-input">
					<span class="lp-checkbox-checkmark"></span>
					<span class="lp-checkbox-label">{{ registerRulesDesc }}</span>
				</label>
				{% if error.rules %}<span class="lp-error">{{ LNG.registerRulesError|default('You must accept the rules') }}</span>{% endif %}
			</div>
			
			<div class="lp-form__footer">
				<button type="submit" class="lp-btn lp-btn--primary lp-btn--lg">{{ LNG.buttonRegister }}</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block script %}
{% if recaptchaEnable %}
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl={{ lang }}"></script>
{% endif %}
<script type="text/javascript" src="scripts/login/register.js"></script>
{% endblock %}
