{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "ins_header.twig" %}
<tr>
	<td colspan="2">{{ convert_info }}</td>
</tr>
<tr>
	<td>{{ step1_mysql_server }}</td>
	<td><input type="text" name="host" value="localhost" size="30"></td>
</tr>
<tr>
	<td>{{ step1_mysql_port }}</td>
	<td><input type="text" name="port" value="3306" size="30"></td>
</tr>
<tr>
	<td>{{ step1_mysql_dbname }}</td>
	<td><input type="text" name="db" value="" size="30"></td>
</tr>
<tr>
	<td>{{ step1_mysql_dbuser }}</td>
	<td><input type="text" name="user" value="" size="30"></td>
</tr>
<tr>
	<td>{{ step1_mysql_dbpass }}</td>
	<td><input type="password" name="passwort" value="" size="30"></td>
</tr>
<tr>
	<td>{{ step1_mysql_prefix }}</td>
	<td><input type="text" name="prefix" value="uni1_" size="30"></td>
</tr>
<tr>
	<td>{{ convert_version }}</td>
	<td>
		<select name="version">
			<optgroup label="XG Proyecto">
				<option label="XG Proyecto 2.9.0" value="xgp">XG Proyecto 2.9.0</option>
				<option label="XG Proyecto 2.9.1" value="xgp">XG Proyecto 2.9.1</option>
				<option label="XG Proyecto 2.9.2" value="xgp">XG Proyecto 2.9.2</option>
				<option label="XG Proyecto 2.9.3" value="xgp">XG Proyecto 2.9.3</option>
				<option label="XG Proyecto 2.9.4" value="xgp">XG Proyecto 2.9.4</option>
				<option label="XG Proyecto 2.9.5" value="xgp">XG Proyecto 2.9.5</option>
				<option label="XG Proyecto 2.9.6" value="xgp">XG Proyecto 2.9.6</option>
			</optgroup>
			<optgroup label="XNova SVN">
				<option label="XNova SVN v2.0" value="xsvn20">XNova SVN v2.0</option>
				<option label="XNova SVN v2.1" value="xsvn21">XNova SVN v2.1</option>
			</optgroup><!-- 
			<optgroup label="Spacebeginners">
				<option label="Spacebeginners v3" value="sb3">Spacebeginners v3</option>
				<option label="Spacebeginners v4" value="sb4">Spacebeginners v4</option>
			</optgroup> -->
        </select>
    </td>
</tr>        
<tr>
	<td colspan="2"><input type="submit" value="{{ convert_submit }}"></td>
</tr>
{% include "ins_footer.twig" %}