{% include "ins_header.twig" %}

<div class="{{ class }}"><p>{{ message|raw }}</p></div>

<div style="margin-top:20px">
{% if class == 'noerror' %}
	<a href="index.php?mode=install&step=5"><button><i class="fas fa-arrow-right"></i> {{ LNG.continue }}</button></a>
{% else %}
	<a href="index.php?mode=install&step=3&amp;host={{ host }}&amp;port={{ port }}&amp;user={{ user }}&amp;dbname={{ dbname }}&amp;prefix={{ prefix }}"><button><i class="fas fa-arrow-left"></i> {{ LNG.back }}</button></a>
{% endif %}
</div>

{% include "ins_footer.twig" %}