{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "ins_header.twig" %}

<h2>{{ LNG.upgrade_intro_welcome }}</h2>

{% if updates %}
	<div class="ins-info"><i class="fas fa-info-circle"></i>{{ LNG.upgrade_available|format(sql_revision, file_revision)|raw }}</div>
	<form action="?mode=doupgrade" method="POST">
		{% for file, content in updates %}
			<div class="ins-file-label" style="margin-top:16px"><i class="fas fa-file-code"></i> {{ file }}</div>
			<div class="ins-sql-preview">{{ content|raw }}</div>
		{% endfor %}
		<div style="margin-top:20px">
			<input type="submit" value="{{ LNG.continue }}">
		</div>
	</form>
{% else %}
	<div class="ins-alert-success"><i class="fas fa-check-circle"></i> {{ LNG.upgrade_notavailable|format(sql_revision)|raw }}</div>
	<a href="index.php"><button><i class="fas fa-arrow-left"></i> {{ LNG.upgrade_back }}</button></a>
{% endif %}

{% include "ins_footer.twig" %}
