{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "overall_header.twig" %}
<div class="legacy-content">
<form action="" method="post">
<table>
<tr>
<td colspan="3" align="left"><a href="?page=accounteditor">
<img src="./styles/resource/images/admin/arrowright.png" width="16" height="10"> {{ LNG.ad_back_to_menu }}</a></td>
</tr><tr>
	<th colspan="7">{{ LNG.ad_ally_title }}</th>
</tr><tr>
	<td>{{ LNG.input_id_ally }}</td>
	<td><input name="id" type="text" size="5"></td>
</tr><tr>
	<td>{{ LNG.ad_ally_change_id }} {{ LNG.ad_ally_user_id }}</td>
	<td><input name="changeleader" type="text" size="5"></td>
</tr><tr>
	<td>{{ LNG.ad_ally_name }}</td>
	<td><input name="name" type="text"></td>
</tr><tr>
	<td>{{ LNG.ad_ally_tag }}</td>
	<td><input name="tag" type="text" size="5"></td>
</tr><tr>
	<td>{{ LNG.ad_ally_delete_u }} {{ LNG.ad_ally_user_id }}</td>
	<td><input name="delete_u" type="text"></td>
</tr><tr>
	<td>{{ LNG.ad_ally_delete }}</td>
	<td><input name="delete" type="checkbox"></td>
</tr><tr>
	<td>{{ LNG.ad_ally_text1 }}</td>
	<td><textarea name="externo" type="text" rows="10" cols="80"></textarea></td>
</tr><tr>
	<td>{{ LNG.ad_ally_text2 }}</td>
	<td><textarea name="interno" type="text" rows="10" cols="80"></textarea></td>
</tr><tr>
	<td>{{ LNG.ad_ally_text3 }}</td>
	<td><textarea name="solicitud" type="text" rows="10" cols="80"></textarea></td>
</tr><tr>
	<td colspan="3"><input type="submit" value="{{ LNG.button_submit }}"></td>
</tr>
</table>
</form>
</div>
{% include "overall_footer.twig" %}