{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "overall_header.twig" %}
<div class="legacy-content">
    <form action="" method="post">
        <input type="hidden" name="opt_save" value="1">
        <table>
            <tr>
                <th colspan="2">{{ LNG.msg_expedition }}</th><th> </th>
            </tr
            <tr>
                <td>{{ LNG.msg_expedition_active }}<br></td>
                <td><input name="expedition_limit_res_active"{% if expedition_limit_res_active %} checked="checked"{% endif %}  type="checkbox"></td>
                <td><img src="./styles/resource/images/admin/i.gif" width="16" height="16" alt="" class="tooltip" data-tooltip-content="{{ LNG.msg_expedition_active_desc }}"></td>
            </tr>
            <tr>
                <td>{{ LNG.msg_expedition_active_price }}</td>
                <td><input name="expedition_limit_res" maxlength="40" size="60" value="{{ expedition_limit_res }}" type="text"></td>
                <td><img src="./styles/resource/images/admin/i.gif" width="16" height="16" alt="" class="tooltip" data-tooltip-content="{{ LNG.msg_expedition_active_price_desc }}"></td>
            </tr>
            <tr>
                <td colspan="3"><input value="{{ LNG.se_save_parameters }}" type="submit"></td>
            </tr>
        </table>
    </form>
</div>
{% include "overall_footer.twig" %}