{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "overall_header.twig" %}
<div class="legacy-content">
<form action="" method="post">
<table>
<tr>
	<th colspan="3">{{ po_add_moon }}</th>
</tr>
<tr>
	<td>{{ input_id_planet }}</td>
	<td colspan="2"><input  type="text" name="add_moon" value="" size="3"></td>
</tr>
<tr>
	<td>{{ mo_moon_name }}</td>
	<td colspan="2"><input type="text" value="{{ mo_moon }}" name="name"></td>
</tr>
<tr>
	<td>{{ mo_diameter }}</td>
	<td colspan="2"><input type="text" name="diameter" size="5" maxlength="5">
	<input type="checkbox" checked="checked" name="diameter_check"> ({{ LNG.mo_moon_random }})</td>
</tr>
<tr>
	<td>{{ mo_fields_avaibles }}</td>
	<td colspan="2"><input type="text" name="field_max" size="5" maxlength="5" value="1"></td>
</tr>
<tr>
	<td colspan="3"><input type="submit" value="{{ button_add }}"></td>
</tr><tr>
   <td colspan="2" style="text-align:left;"><a href="?page=create">{{ new_creator_go_back }}</a> <a href="?page=create&mode=moon">{{ new_creator_refresh }}</a></td>
</tr>
</table>
</form>
</div>
{% include "overall_footer.twig" %}