{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "overall_header.twig" %}
<div class="legacy-content">
<form action="admin.php?page=dump" method="post">
<input type="hidden" name="action" value="dump">
<table>
	<tr>
		<th colspan="2">{{ LNG.du_header }}</th>
	</tr>
	<tr>
		<td>{{ LNG.du_choose_tables }}</td>
		<td>
            <div><input type="checkbox" id="selectAll"><label for="selectAll">{{ LNG.du_select_all_tables }}</label></div>
            <div>
                <select name="dbtables[]" id="dbtables" multiple size="15" style="min-width:300px;">
                    {% for tableName in dumpData.sqlTables %}
                    <option value="{{ tableName }}">{{ tableName }}</option>
                    {% endfor %}
                </select>
            </div>
        </td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" value="{{ LNG.du_submit }}"></td>
	</tr>
</table>
</form>
<script>
$(function() {
	$('#selectAll').on('click', function() {
		if($('#selectAll').prop('checked') == true)
		{
			$('#dbtables').val(function() {
				return $(this).children().map(function() { 
					return $(this).attr('value');
				}).toArray();
			});
		}
		else
		{
			$('#dbtables').val(null);
		}
	});
});
</script>
</div>
{% include "overall_footer.twig" %}