{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "overall_header.twig" %}
<div class="legacy-content">
<form action="" method="post">
<table>
<tr>
	<th colspan="2">{{ fb_settings }}</th>
</tr><tr>
	<td colspan="2">{{ fb_info }}</td>
</tr><tr>
	<td colspan="2">{{ fb_curl_info }}</td>
</tr><tr>
	<td>{{ fb_active }}</td>
	<td><input name="fb_on"{% if fb_on == 1 and fb_curl == 1 %} checked="checked"{% endif %} type="checkbox"{% if fb_curl == 0 %} disabled{% endif %}></td>
</tr><tr>
	<td>{{ fb_api_key }}</td>
	<td><input name="fb_apikey" size="40" value="{{ fb_apikey }}" type="text"{% if fb_curl == 0 %} disabled{% endif %}></td>
</tr><tr>
	<td>{{ fb_secrectkey }}</td>
	<td><input name="fb_skey" size="40" value="{{ fb_skey }}" type="text"{% if fb_curl == 0 %} disabled{% endif %}></td>
</tr></tr>
	<td colspan="3"><input value="{{ se_save_parameters }}" type="submit"{% if fb_curl == 0 %} disabled{% endif %}></td>
</tr>
</table>
</form>
</div>
{% include "overall_footer.twig" %}