{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "overall_header.twig" %}
<form method="post">
<input type="hidden" name="action" value="send">
<!-- Zielplaneten definieren -->
<table width="760px" style="color:#FFFFFF"><tr>
        <th colspan="3">{{ LNG.ga_definetarget }}</th>
</tr>
<tr style="height:26px;">
	<td width="50%">{{ LNG.ga_planettypes }}:</td>
	<td width="50%">
		<table style="color:#FFFFFF">
			<tr>
				<td class="transparent"><input type="checkbox" name="planet" value="1" checked></td>
				<td class="transparent left">{{ LNG.fcm_planet }}</td>
			</tr>
			<tr>
				<td class="transparent"><input type="checkbox" name="moon" value="1"></td>
				<td class="transparent left">{{ LNG.fcm_moon }}</td>
			</tr>
		</table>
	</td>
</tr>
<tr style="height:26px;"><td width="50%">{{ LNG.ga_homecoordinates }}:</td><td width="50%"><input type="checkbox" name="mainplanet" value="1"></td></tr>
<tr style="height:26px;"><td width="50%">{{ LNG.ga_no_inactives }}:</td><td width="50%"><input type="checkbox" name="no_inactive" value="1"></td></tr>
</table>


<!-- Rohstoffe -->
<table width="760px" style="color:#FFFFFF">
<tr>
        <th colspan="2">{{ LNG.tech.900 }}</th>
</tr>
{% for Element in reslist.resstype.1 %}
<tr><td width="50%">{{ LNG.tech[Element] }}:</td><td width="50%"><input type="text" name="element_{{ Element }}" value="0" pattern="[0-9]*"></td></tr>
{% endfor %}
{% for Element in reslist.resstype.3 %}
<tr><td width="50%">{{ LNG.tech[Element] }}:</td><td width="50%"><input type="text" name="element_{{ Element }}" value="0" pattern="[0-9]*"></td></tr>
{% endfor %}
</table>

<!-- Gebäude -->
<table width="760px" style="color:#FFFFFF">
<tr>
        <th colspan="2">{{ LNG.tech.0 }}</th>
</tr>
{% for Element in reslist.build %}
<tr><td width="50%">{{ LNG.tech[Element] }}:</td><td width="50%"><input type="text" name="element_{{ Element }}" value="0" pattern="[0-9]*"></td></tr>
{% endfor %}
</table>

<!-- Technologie -->
<table width="760px" style="color:#FFFFFF">
<tr>
        <th colspan="2">{{ LNG.tech.100 }}</th>
</tr>
{% for Element in reslist.tech %}
<tr><td width="50%">{{ LNG.tech[Element] }}:</td><td width="50%"><input type="text" name="element_{{ Element }}" value="0" pattern="[0-9]*"></td></tr>
{% endfor %}
</table>

<!-- Schiffe -->
<table width="760px" style="color:#FFFFFF">
<tr>
        <th colspan="2">{{ LNG.tech.200 }}</th>
</tr>
{% for Element in reslist.fleet %}
<tr><td width="50%">{{ LNG.tech[Element] }}:</td><td width="50%"><input type="text" name="element_{{ Element }}" value="0" pattern="[0-9]*"></td></tr>
{% endfor %}
</table>

<!-- Verteidigung -->
<table width="760px" style="color:#FFFFFF">
<tr>
        <th colspan="2">{{ LNG.tech.400 }}</th>
</tr>
{% for Element in reslist.defense %}
<tr><td width="50%">{{ LNG.tech[Element] }}:</td><td width="50%"><input type="text" name="element_{{ Element }}" value="0" pattern="[0-9]*"></td></tr>
{% endfor %}
</table>

<!-- Offiziere -->
<table width="760px" style="color:#FFFFFF">
<tr>
        <th colspan="2">{{ LNG.tech.600 }}</th>
</tr>
{% for Element in reslist.officier %}
<tr><td width="50%">{{ LNG.tech[Element] }}:</td><td width="50%"><input type="text" name="element_{{ Element }}" value="0" pattern="[0-9]*"></td></tr>
{% endfor %}
</table>


<table width="760px" style="color:#FFFFFF">
<tr>
        <td><input type="submit" value="{{ LNG.qe_send }}"></td>
</tr>
</table>
</form>
{% include "overall_footer.twig" %}