{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "overall_header.twig" %}
<div class="legacy-content">
<table>
	<tr>
		<th colspan=2>{{ log_info }}</th>
	</tr>
	<tr>
		<td>{{ log_admin }}:</td>
		<td>{{ admin }}</td>
	</tr>
	<tr>
		<td>{{ log_target }}:</td>
		<td>{{ target }}</td>
	</tr>
	<tr>
		<td>{{ log_time }}:</td>
		<td>{{ time }}</td>
	</tr>
</table>
<table>
<tr>
	<th>{{ log_element }}</th>
	<th>{{ log_old }}</th>
	<th>{{ log_new }}</th>
</tr>
{% for LogInfo in LogArray %}
{% if LogInfo.old != LogInfo.new %}
<tr>
	<td>{{ LogInfo.Element }}</td>
	<td>{{ LogInfo.old }}</td>
	<td>{{ LogInfo.new }}</td>
</tr>
{% endif %}
{% endfor %}
</table>
</div>
{% include "overall_footer.twig" %}