{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "overall_header.twig" %}
<div class="legacy-content">
<div class="table-responsive">
<table>
<tr>
	<th>{{ log_id }}</th>
	<th>{{ log_admin }}</th>
	<th>{{ log_uni }}</th>
	<th>{{ log_target }}</th>
	<th>{{ log_time }}</th>
	<th>{{ log_log }}</th>
</tr>
{% for LogInfo in LogArray %}
<tr>
	<td>{{ LogInfo.id }}</td>
	<td>{{ LogInfo.admin }}</td>
	<td>{{ LogInfo.target_uni }}</td>
	<td>{{ LogInfo.target }}</td>
	<td>{{ LogInfo.time }}</td>
	<td><a href='?page=log&type=detail&id={{ LogInfo.id }}'>{{ log_view }}</a></td>
</tr>
{% endfor %}
</table>
</div>
</div>
{% include "overall_footer.twig" %}