{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "overall_header.twig" %}
<div class="legacy-content">
{% for Mod in MVC %}
<table>
    <tr>
		<th colspan="2">{{ Mod.title }}</th>
    </tr>
    <tr>
		<td>{{ mvc_title }}:</td><td>{{ Mod.title }}</td>
    </tr>
    <tr>
		<td>{{ mvc_author }}:</td><td>{{ Mod.author }}</td>
    </tr>
    <tr>
		<td>{{ mvc_version }}:</td><td>{{ Mod.version }}</td>
    </tr>
    <tr>
		<td>{{ mvc_link }}:</td><td><a href="{{ Mod.link }}" target="_blank">{{ Mod.link }}</a></td>
    </tr>
    <tr>
		<td>{{ mvc_desc }}:</td><td>{{ Mod.description }}</td>
    </tr>
    <tr>
		<td colspan="2">{{ Mod.update }}</td>
    </tr>
	{% if Mod.udetails %}
	<tr>
		<td>{{ mvc_update_version }}:</td><td>{{ Mod.udetails.version }}</td>
    </tr>
	<tr>
		<td>{{ mvc_update_date }}:</td><td>{{ Mod.udetails.date }}</td>
    </tr>
    <tr>
		<td>{{ mvc_download }}:</td><td><a href="{{ Mod.udetails.download }}" target="_blank">{{ Mod.udetails.download }}</a></td>
	</tr>
    <tr>
		<td>{{ mvc_announcement }}:</td><td><a href="{{ Mod.udetails.announcement }}" target="_blank">{{ Mod.udetails.announcement }}</a></td>
    </tr>
	{% endif %}
</table>
<br><br>
{% endfor %}
</div>
{% include "overall_footer.twig" %}