{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "overall_header.twig" %}
<div class="legacy-content">
<div class="table-responsive">
<table>
	<tr>
		<th>{{ LNG.mip_ip }}</th>
		<th>{{ LNG.se_id_owner }}</th>
		<th>{{ LNG.se_name }}</th>
		<th>{{ LNG.se_email }}</th>
		<th>{{ LNG.ac_register_time }}</th>
		<th>{{ LNG.ac_act_time }}</th>
		<th>{{ LNG.mip_known }}</th>
	</tr>
	{% for IP, Users in multiGroups %}
	<tr>
		<td rowspan="{{ Users|length }}">{{ IP }}</td>
		{% for ID, User in Users %}
		<td class="left" style="padding:3px;">{{ ID }}</td>
		<td class="left" style="padding:3px;"><a href="admin.php?page=accountdata&id_u={{ ID }}">{{ User.username }} (?)</a></td>
		<td class="left" style="padding:3px;">{{ User.email }}</td>
		<td class="left" style="padding:3px;">{{ User.register_time }}</td>
		<td class="left" style="padding:3px;">{{ User.onlinetime }}</td>
		<td class="center" style="padding:3px;">{% if (User.isKnown != 0) %}<a href="admin.php?page=multiips&amp;action=unknown&amp;id={{ ID }}"><img src="styles/resource/images/true.png"></a>{% else %}<a href="admin.php?page=multiips&amp;action=known&amp;id={{ ID }}"><img src="styles/resource/images/false.png"></a>{% endif %}</td>
		</tr>{% if not loop.last %}<tr>{% endif %}
		{% endfor %}
	{% endfor %}
</table>
</div>
</div>
{% include "overall_footer.twig" %}