{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "overall_header.twig" %}
<div class="legacy-content">
<form method="post" action="">
	<table>
    <tr>
      <th colspan="2">{{ cs_title }}</th>
    </tr>
	<tr>
      <td>{{ cs_point_per_resources_used }} ({{ cs_resources }})</td>
      <td><input type="text" name="stat_settings" value="{{ stat_settings }}"></td>
    </tr>
    <tr>
      <td>{{ cs_points_to_zero }}</td>
      <td>
			<select name="stat">
			{% for key, value in Selector %}
				<option value="{{ key }}"{% if key == stat %} selected{% endif %}>{{ value }}</option>
			{% endfor %}
			</select>
		</td>
    </tr>
    <tr>
      <td>{{ cs_access_lvl }}</td>
      <td><input type="text" name="stat_level" value="{{ stat_level }}"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="{{ cs_save_changes }}"></td>
    </tr>
  </table>
</form>
</div>
{% include "overall_footer.twig" %}