{#
	2MoonsCE

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "overall_header.twig" %}
<div class="legacy-content">
<table>
	<tr>
		<th colspan="4">{{ LNG.vt_fail }}</th>
	</tr>
	<tr>
		<td colspan="4">{{ LNG.vt_info }}</td>
	</tr>
	<tr>
		<td colspan="4"><div class="processbar" style="background-color: green; height: 14px;width:0;"></div><div class="info" style="margin-top: -14px;"></div></td>
	</tr>
	<tr>
		<td><span id="fileok">0</span> {{ LNG.vt_fileok }}</td><td><span id="filefail">0</span> {{ LNG.vt_filefail }}</td><td><span id="filenew">0</span> {{ LNG.vt_filenew }}</td><td><span id="fileerror">0</span> {{ LNG.vt_fileerror }}</td>
	</tr>
	<tr id="result">
		<td colspan="4" class="left"><div style="display: block; overflow-y: scroll; height: 280px;">{{ LNG.vt_loadfile }}</div></td>
	</tr>
</table>
</div>
{% include "overall_footer.twig" %}