{#
	SmartMoons / 2Moons Community Edition (2MoonsCE)

	Based on the original 2Moons project:

	@copyright 2009 Lucky
	@copyright 2016 Jan-Otto Kröpke <slaver7@gmail.com>
	@licence MIT
	@version 1.8.0
	@link https://github.com/jkroepke/2Moons
	 2Moons
	  by Jan-Otto Kröpke 2009-2016

	Modernization, PHP 8.3/8.4 compatibility, Twig Migration (Smarty removed)
	Refactoring and feature extensions:
	@copyright 2024-2026 Florian Engelhardt (0wum0)
	@link https://github.com/0wum0/2MoonsCE
	@eMail info.browsergame@gmail.com

	Licensed under the MIT License.
	See LICENSE for details.
	@visit http://makeit.uno/
#}
{% include "overall_header.twig" %}
<div class="legacy-content">
<table>
	<tr>
		<th colspan="6">{{ LNG.vt_head }}</th>
	</tr>
	<tr>
		<td colspan="6">{{ LNG.vt_info }}</td>
	</tr>
	<tr>
		<td><a href="admin.php?page=vertify&amp;action=vertify&amp;ext=php">{{ LNG.vt_filephp }}</a></td>
		<td><a href="admin.php?page=vertify&amp;action=vertify&amp;ext=tpl">{{ LNG.vt_filetpl }}</a></td>
		<td><a href="admin.php?page=vertify&amp;action=vertify&amp;ext=css">{{ LNG.vt_filecss }}</a></td>
		<td><a href="admin.php?page=vertify&amp;action=vertify&amp;ext=js">{{ LNG.vt_filejs }}</a></td>
		<td><a href="admin.php?page=vertify&amp;action=vertify&amp;ext=png|jpg|gif">{{ LNG.vt_fileimg }}</a></td>
		<td><a href="admin.php?page=vertify&amp;action=vertify&amp;ext=htaccess">{{ LNG.vt_filehtaccess }}</a></td>
	</tr>
	<tr>
		<td colspan="6"><a href="admin.php?page=vertify&amp;action=vertify&amp;ext=php|tpl|js|css|png|jpg|gif|htaccess">{{ LNG.vt_all }}</a></td>
	</tr>
</table>
</div>
{% include "overall_footer.twig" %}